<div class="d-flex gap-3">
  <nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar pb-0">
      <a class="sidebar-brand" routerlink="admin">
        <span class="align-middle">Gadgetglitz</span>
      </a>
      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="dashboard">
            <i class="align-middle" data-feather="sliders"></i><span class="align-middle">Dashboard</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="users">
            <i class="align-middle" data-feather="book"></i> <span class="align-middle">Users</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="products">
            <i class="align-middle" data-feather="book"></i> <span class="align-middle">Products</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="orders">
            <i class="align-middle" data-feather="book"></i> <span class="align-middle">Orders</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="categories">
            <i class="align-middle" data-feather="book"></i> <span class="align-middle">Categories</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

