<div class="d-flex mt-3 justify-content-center gap-2 flex-wrap">
    <div class="category-1">
        <div class="card category" >
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-13-mac-nav-202310?wid=400&hei=260&fmt=png-alpha&.v=1696964122666"
                alt="">
            <p class="text-center">Laptops</p>
            <mat-slide-toggle class="text-center"></mat-slide-toggle>
        </div>
    </div>
    <div class="category-2">
        <div class="card category">
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-13-iphone-nav-202309_GEO_EMEA?wid=400&hei=260&fmt=png-alpha&.v=1692971740071"
                alt="">
            <p class="text-center">Mobiles</p>
            <mat-slide-toggle class="text-center"></mat-slide-toggle>
        </div>
    </div>
    <div class="category-3">
        <div class="card category" >
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-13-ipad-nav-202210?wid=400&hei=260&fmt=png-alpha&.v=1664912135437"
                alt="">
            <p class="text-center">Tablets & ipad</p>
            <mat-slide-toggle class="text-center"></mat-slide-toggle>
        </div>
    </div>
    <div class="category-4">
        <div class="card category">
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-13-watch-nav-202309_GEO_IN?wid=400&hei=260&fmt=png-alpha&.v=1693703814407"
                alt="">
            <p class="text-center">Smart watches</p>
            <mat-slide-toggle class="text-center"></mat-slide-toggle>
        </div>
    </div>
    <div class="category-5">
        <div class="card category">
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-13-airpods-nav-202209?wid=400&hei=260&fmt=png-alpha&.v=1660676485885"
                alt="">
            <p class="text-center">Ear pods</p>
            <mat-slide-toggle class="text-center"></mat-slide-toggle>
        </div>
    </div>
</div>
