<section class="" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form [formGroup]="registerForm">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fab fa-cc-amazon-pay fa-3x me-3" style="color: rgb(185, 6, 84);"></i>
                                        <span class="h1 fw-bold mb-0">Logo</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account
                                    </h5>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">UserName</label>
                                        <input type="text" class="form-control form-control-lg"
                                            formControlName="username" />
                                        <div *ngIf="username.errors?.['required'] && (username.dirty || username.touched)"
                                            class="alert alert-danger">
                                            Name is required.
                                        </div>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label">Email address</label>
                                        <input type="email" class="form-control form-control-lg"
                                            formControlName="emailId" />
                                        <div *ngIf="emailId.errors?.['required'] && (emailId.dirty || emailId.touched)"
                                            class="alert alert-danger">
                                            Email is required.
                                        </div>
                                        <div *ngIf="emailId.errors?.['email'] && (emailId.dirty || emailId.touched)"
                                            class="alert alert-danger">
                                            Invalid email format.
                                        </div>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label">Password</label>
                                        <input type="password" class="form-control form-control-lg"
                                            formControlName="password" />
                                        <div *ngIf="password.errors?.['required'] && (password.dirty || password.touched)"
                                            class="alert alert-danger">
                                            Password is required.
                                        </div>
                                        <div *ngIf="password.errors?.['minlength'] && (password.dirty || password.touched)"
                                            class="alert alert-danger">
                                            Password must be at least of length 8
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control form-control-lg"
                                            formControlName="confirmPassword" />
                                        <div *ngIf="confirmPassword.errors?.['required'] && (confirmPassword.dirty || confirmPassword.touched)"
                                            class="alert alert-danger">
                                            Confirm Password is required.
                                        </div>
                                        <div *ngIf="registerForm.errors?.passwordMismatch && (confirmPassword.dirty || confirmPassword.touched)"
                                            class="alert alert-danger">
                                            Password and Confirm Password do not match.
                                        </div>
                                    </div>


                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="button" [disabled]="registerForm.invalid"
                                            (click)="Register()">Register</button>
                                    </div>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a routerLink="/login"
                                            style="color: #393f81;">Login here</a></p>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>